* {
    margin: 0;
    padding: 0;
}
body {
    width: 1440px;
}
img {
    width: 50%;
}
main {
    background-image: linear-gradient(
    115deg,
    rgba(153, 218, 216, 0.407), 
    rgba(150, 193, 192, 0.257)
  ), url("bg-hero-desktop.svg");
  display: flex;
  margin: auto;
  align-items: center;
  justify-items: center;
  height: 100vh;
}
.nav {
    margin: auto;
    background-color: aliceblue;
}
.first-section {
    display: flex;
    width: 100%
    
}
.second-section {
    display: flex;
}
.third-section {
    display: flex;
}
.outside {
    z-index: 1000;
    width: 50%;
}
footer {
    background-color: rgb(7, 42, 24);
    display: flex;
}

